@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
.content-wrapper {
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
}
.rud-img-width-fluid {
    width: 100%;
}
.rud-width-fluid {
    width: 100%
}
.rud-height-fluid {
    height: 100%;
}
.rud-img-height-fluid {
    max-height: 100%;
}
@media (max-width: 526px) {
    .rud-img-height-fluid {
        max-width: 100%;
    }
}
.rud-margin-auto {
    margin-right: auto;
    margin-left: 50%;
}
.rud-spacer-sm {
    width: 100%;
    height: 20px;
}
.rud-spacer-md {
    width: 100%;
    height: 40px;
}
.rud-spacer-lg {
    width: 100%;
    height: 50px;
}
.rud-spacer-xl {
    width: 100%;
    height: 100px;
}
.rud-card-sub-height {
    height: 270px;
}
.rud-vert-middle {
    display: inline-flex;
    flex-direction: vertical;
    height: 100%;
}
.rud-vert-middle-child {
    height: fit-content;
    display: flex;
    flex: 1;
}
.rud-text-logo {
    font-family: 'Source Code Pro', monospace;
}
.rud-nav-item-color {
    color: white;
}
.rud-no-outline {
    outline: none;
}
.rud-archive-inline-flex {
    display: inline-flex;
    flex-direction: row;
}
@media (max-width: 576px) {
    .rud-archive-inline-flex {
        display: block;
    }
}
.rud-card-img-height {
    height: 178px;
}
.rud-image-card-fit {
    object-fit: cover;
}