@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@font-face {
    font-family: "Parkway Lush";
    src: url("./splash.woff2") format("woff2");
}

.font-parkway {
    font-family: "Parkway Lush", sans-serif;
}

.font-size-splash {
    font-size: 96px;
}

h1, h2, h3, h4, h5, h6, .font-header {
    font-family: "Poppins", sans-serif;
}

h2, .font-size-h2 {
    font-size: 54px;
}

p, .font-size-p {
    font-size: 20px;
}

.c-text-gray {
    color: #999999;
}

@media screen and (min-width: 420px) {
    .font-size-splash {
        font-size: 128px;
    }
}

@media screen and (min-width: 576px) {
    .font-size-splash {
        font-size: 191px;
    }
}

@media screen and (min-width: 768px) {
    .font-size-splash {
        font-size: 256px;
    }
}