.font-hero {
    font-size: 300px;
    margin-bottom: 0;
    letter-spacing: 0;
    word-spacing: 0;
}

.bg-splash {
    background-image: url("../assets/splash.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 44px;
}