.font-hero {
    font-size: 300px;
    margin-bottom: 0;
    letter-spacing: 0;
    word-spacing: 0;
}

.socials {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.socials:hover {
    color: #85ffbc;
    border-color: #7dffb8;
}