/*IMPORTS:*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
@font-face {
    font-family: 'Bebas Neue Thicc';
    src: url('light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*BODY*/
body {
    background-color: #141c3c;
    margin: 0;
}
img {
    width: 50%;
    height: auto;
    object-fit: cover;
    background: rgb(20,28,60);
}
table {
    padding: 0px;
}
a:link, a:visited, .tablet-text {
    color: white;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 50px;
}
#bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: rgb(20,28,60);
}
#container {
    position:absolute;
    left:0%; top:0%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px, 0px, 0px, 0px;
}
#spacer {
    height: 20px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
#break {
    margin-right: auto;
    background-color: white;
    width: 100%;
    height: 2px;
}
#splash-gradient-left{
    position:absolute;
    left:0%; top:0%;
    width:100%; height:100%;
    background: rgb(20,28,60);
    background: linear-gradient(135deg, rgba(20,28,60,0.5) 50%, rgba(20,28,60,1) 100%)
}
#splash-gradient{
    position:absolute;
    left:0%; top:0%;
    width:100%; height:100%;
    background: rgb(20,28,60);
    background: linear-gradient(155deg, rgba(20,28,60,0.5) 20%, rgba(20,28,60,1) 100%)
}
#lower-margin {
    margin-right: 1.5px;
}
#lower-section-container-1 {
    width: 50%;
    height: 17vh;
    display: inline-block;
    float: left;
}
#lower-section-container-2 {
    width: 50%;
    height: 17vh;
    display: inline-block;
    float: left;
}
#lower-button-container-1 {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    height: inherit;
}
.button-bottom-1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto; 
    background-color: rgba(35, 47, 76, 1);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
    width: 70%;
    min-width: fit-content;
}
.button {
    font-size: 6vh;
    transition: background-color 0.5s ease 0s;
}
.button:hover, .button:active {
    background: rgb(31, 41, 64);
}
#mobile-content {
    display: block;
}
@media (max-aspect-ratio: 5/4) {
    #content {
        display: none;
    }
}
@media (min-aspect-ratio: 5/4) {
    #mobile-content {
        display: none;
    }
}

/*CONTENT 4:3+*/
table {
    width: 100%;
    height: 100vh;
}
#tright {
    width: 80%;
    height: 100%;
}
#tleft {
    width: 20%;
    height: 100%;
}
#title-top {
    position: absolute;
    left: 0vh; top: 0vh;
    max-width: 80%;
    max-height: 80vh;
    margin-left: 1.5vh;
}
tbtitlea {
    font-family: 'Bebas Neue Thicc', sans-serif;
    font-size: 30vh;
    line-height: 25vh;
    color: white;
}
tbtitleb {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30vh;
    line-height: 25vh;
    color: white;
}
tbmeta {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5vh;
    line-height: 7vh;
    color: white;
}
@media (max-aspect-ratio: 5/3) {
    #tright {
        width: 100%;
    }
    #title-top {
        max-width:100%;
    }
}

/*NAV 5/3+*/
#naviwrapper {
  height: inherit;
  display: flex;
  flex-direction: column;
}
.button-flex {
    height: 100%;
    position: relative;
}
.button-style {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 95%;
    margin: auto;
    background-color: rgba(35, 47, 76, 1);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
}
.desktop-text {
    display: block;
}
@media (max-aspect-ratio: 5/3) {
    #naviwrapper {
        display: none;
    }
    .desktop-text {
        display: none;
    }
}
@media (min-aspect-ratio: 5/3) {
    .tablet-text {
        display: none;
    }
}


/*CONTENT 4/3-*/
#splash-mobile {
    height: 20vh;
}
#splash-gradient-mobile {
    position: absolute;
    top: 0vh;
    height: 20vh;
    width: 100%;
    background: linear-gradient(rgba(20,28,60,0.5) -90%, rgba(20,28,60,1) 100%)
}
#mobile-background {
    width: 100%;
    height: 100vh;
    background-color: rgba(20,28,60,1);
}
#mobile-header {
    position: absolute;
    top: 20vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: rgba(20,28,60,1);
}
#bg-image-mobile {
    object-position: top;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#mbreak {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    height: 2px;
    background-color: white;
}
.mspacer {
    width: 100%;
    height: 5vh;
}
.mspacer-small {
    width: 100%;
    height: 2vh;
}
.mspacer-tiny {
    width: 100%;
    height: 1vh;
}
.mobiletitle {
    font-size: 8vh;
    font-weight: 500;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.mobilesplash {
    font-weight: 300;
    line-height: 190%;
}
mtitleline2 {
    font-weight: 300;
    line-height: 100%;
}

/*MOBILE NAV*/
.mnav {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    font-size: 4vh;
    line-height: 10vh;
    background-color: rgba(35, 47, 76, 1);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
    transition: background-color 0.5s ease 0s;
}
.minfo-nav {
    font-weight: 300;
    display: none;
}
.minfo-open {
    display: block;
}
.mbrowse-nav {
    font-weight: 300;
    display: none;
}
.mbrowse-open {
    display: block;
}
.msites-nav {
    font-weight: 300;
    display: none;
}
.msites-open {
    display: block;
}
.mnav-item {
    width: 80%;
    margin: auto;
}
.mnav-item-clickable:link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 4vh;
}
.mnav:hover, .mnav:active {
    background: rgb(31, 41, 64);
}
#msites {
    margin-bottom: 20px;
}

/*TABLET NAVIGATION*/
#splash-gradient-tablet {
    position: absolute;
    top: 0; left: 0;
    height: 20vh;
    width: 100%;
    background: linear-gradient(rgba(20,28,60,0.5) -90%, rgba(20,28,60,1) 100%)
}
.tnav {
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    width: 0px;
    height: 0px;
    transition: opacity 0.5s ease 0s;
}
.tnav-open {
    opacity: 1;
    width: 100%;
    height: 100%;
}
.tinfo-nav {
    background-color: rgba(20,28,60,1);
    position: absolute;
    top: 20vh; left: 0;
    width: 0px;
    height: 0px;
    opacity: 0;
    display: none;
    color: white;
    transition: opacity 0.5s ease 0s;
}
.tinfo-open {
    width: 100%;
    height: 80%;
    opacity: 1;
    display: block;
}
.tinfo-nav-container {
    align-items: center;
    vertical-align: auto;
}
.tinfo-nav-list {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.tinfo-nav-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 4vh;
    line-height: 10vh;
}
.tinfo-nav-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 4vh;
    line-height: 10vh;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(35, 47, 76, 1);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
    transition: background-color 0.5s ease 0s;
}
.tinfo-nav-item:hover, .tinfo-nav-item:active {
    background: rgb(31, 41, 64);
}
.tinfo-close {
    text-align: center;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 4vh;
}
.tbrowse-nav {
    background-color: rgba(20,28,60,1);
    position: absolute;
    top: 20vh; left: 0;
    width: 0px;
    height: 0px;
    opacity: 0;
    display: none;
    color: white;
    transition: opacity 0.5s ease 0s;
}
.tbrowse-open {
    width: 100%;
    height: 80%;
    opacity: 1;
    display: block;
}
.tbrowse-nav-container {
    align-items: center;
    vertical-align: auto;
}
.tbrowse-nav-list {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.tbrowse-nav-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 4vh;
    line-height: 10vh;
}
.tbrowse-nav-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 4vh;
    line-height: 10vh;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(35, 47, 76, 1);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
    transition: background-color 0.5s ease 0s;
}
.tbrowse-nav-item:hover, .tbrowse-nav-item:active {
    background: rgb(31, 41, 64);
}
.tbrowse-close {
    text-align: center;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 4vh;
}