.spacer-sm {
  height: 10px;
}
.spacer-md {
  height: 20px;
}
.spacer-lg {
  height: 30px;
}
.raxus {
  /*thing*/
}
.cursor-link {
  cursor: pointer;
}
.lh-0 {
  line-height: 0px;
}
.minh {
  min-height: 100vh;
}