.rud-nav-item-color{
    color: white;
}
.rud-width-fluid {
    width: 100%
}
.rud-height-fluid {
    height: 100%;
}
.rud-img-height-fluid {
    max-height: 100%;
}
.rud-margin-auto {
    margin-right: auto;
    margin-left: 50%;
}
.rud-spacer-sm {
    width: 100%;
    height: 20px;
}
/*ADD MORE SPACERS HERE NOW OK COOL FUTURE ME*/