:root {
    --lm-button-link-text-color: #D061C7;
    --lm-button-link-text-color-hover: #f071e5;
    --lm-button-bg-color: #D061C7;
    --lm-button-bg-color-hover: #f071e5;
    --lm-button-bg-color-active: #D061C7;
    --lm-button-bg-active-color-hover: #f071e5;
    --lm-button-box-shadow-focus: rgba(0, 0, 0, 0);
    --lm-button-border-color-focus: #D061C7;
    --lm-button-border-color: rgba(0, 0, 0, 0);
    --lm-button-primary-bg-color-hover: #f071e5;
    --lm-link-text-color: #D061C7;
    --lm-navbar-link-active-text-color-hover: #f071e5;
    --lm-navbar-link-text-color-hover: #f071e5;
    --lm-navbar-link-active-text-color: #f071e5;
    --lm-navbar-link-text-color: #D061C7;
    --lm-sidebar-link-active-text-color-hover: #f071e5;
    --lm-sidebar-link-text-color-hover: #f071e5;
    --lm-sidebar-link-active-text-color: #f071e5;
    --lm-sidebar-link-text-color: #D061C7;
    --lm-sidebar-title-text-color: #D061C7;
    --lm-sidebar-divider-bg-color: #D061C7;
    --lm-horizontal-rule-color: #D061C7;
    --lm-link-text-color-hover: #D061C7;
    --lm-button-link-box-shadow-focus: #D061C7;
    --lm-button-link-border-color-focus: rgba(0, 0, 0, 0);
    --link-color: var(--indigo-color);
}
.nav-img-bg {
    background-image: url("banner.png");
    border: none;
    box-shadow: 0 0 10px;
}
.sidebar-img-bg {
    background-image: url("banner.png");
}
.no-outline, .no-outline:focus {
    outline: none;
}
.rud-spacer-sm {
    width: 100%;
    height: 20px;
}
.text-pink {
    color: #D061C7;
}