.bg-black {
    background-color: black;
}

.bg-frosted {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.flex-1 {
    flex: 1;
}

.h-50vh {
    height: 50vh;
}

.h-80vh {
    height: 80vh;
}

.h-80 {
    height: 80%;
}

.border-rounded {
    border-radius: 10px;
}

.box {
    backdrop-filter: blur(5px);
    border: 1px solid hsla(0,0%,100%,0.1);
    border-radius: 10px;
}

.w-100 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.position-absolute {
    top: 0 !important;
    left: 0 !important;
}

.mt-100vh {
    margin-top: 100vh;
}

.h-15 {
    height: 15%
}

.border-bottom-box {
    border-bottom: 1px solid hsla(0,0%,100%,0.1);
}

.fake-content {
    margin: 2% 2% 0 2%;
    border-radius: 10px;
    font-size: 70%;
    background-color: #999999;
}

.fake-content-last {
    margin: 2% 2% 2% 2%;
}

.m-1p {
    height: 1%;
}

.box-top {
    line-height: 50px;
}