.bg-black {
    background-color: black;
}

.bg-frosted {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.flex-1 {
    flex: 1;
}

.h-50vh {
    height: 50vh;
}

.h-80vh {
    height: 80vh;
}

.h-80 {
    height: 80%;
}

.border-rounded {
    border-radius: 10px;
}

.box {
    backdrop-filter: blur(5px);
    border: 1px solid hsla(0,0%,100%,0.1);
    border-radius: 10px;
}

.w-100 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.position-absolute {
    top: 0 !important;
    left: 0 !important;
}

.mt-100vh {
    margin-top: 100vh;
}