.bg-black {
    background-color: black;
}

.bg-frosted {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.content-frosted {
}

.flex-1 {
    flex: 1;
}

.h-50vh {
    height: 50vh;
}

.h-80vh {
    height: 80vh;
}

.text-gray {
    color: #888888;
}

.w-100 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}